<?xml version="1.0" encoding="UTF-8"?>
<server description="Coffee shop">


    <featureManager>
        <!--<feature>javaee-8.0</feature>-->
        <!--<feature>microProfile-2.1</feature>-->
        <!--<feature>usr:opentracingZipkin-0.31</feature>-->
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>jaxb-2.2</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jaxrsClient-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>jpa-2.2</feature>
    </featureManager>

    <!-- Postgres coffee-shop-db definition -->
    <dataSource id="DefaultDataSource" jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource" transactional="true">

        <properties serverName="coffee-shop-db" portNumber="5432"
                    databaseName="postgres" user="postgres" password="postgres"/>

    </dataSource>

</server>
