<?xml version="1.0" encoding="UTF-8"?>
<server description="Coffee shop">

    <!-- Postgres coffee-shop-db definition -->
    <dataSource id="DefaultDataSource" jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource" transactional="true">

        <properties serverName="coffee-shop-db" portNumber="5432"
                    databaseName="postgres" user="postgres" password="postgres"/>

    </dataSource>

</server>
