<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order coffee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Order coffee</h1>

<p><a href="/index.html">Show all orders</a></p>

{#if failed??}<p class="error">Could not create the order. Please select all values properly.</p>{/if}

<form action="/order.html" method="post">
    <div class="grid">
        <select name="type" required="required">
            <option value="">Select type</option>
            {#for type in types}
            <option value="{string:capitalize(type.name)}">{type.description}</option>
            {/for}
        </select>
        <select name="origin" disabled="disabled" required="required">
            <option value="">Select origin</option>
        </select>
        <button disabled="disabled" type="submit">Create</button>
    </div>
</form>

<script src="/form.js"></script>
</body>
</html>